<ion-view view-title="Your Selection">
  <ion-content class="padding" style="background-color: #000" scroll="false">
      
      <div class="detailWrapper" style="height: 100vh; width: 100%;">
        <div class="card" style="height: 80%; background-color: #2d98c4; border-radius: 10px; border: 5px solid #fff;">
            <div class="item item-text-wrap" style="text-align: center; background-color: #2d98c4; border-radius: 10px;">
                <h1 style="font-size: 128px; color: #fff; margin-top: 50%;">{{card.lastText}}</h1>
            </div>
        </div>
      </div>

  </ion-content>
</ion-view>
