<ion-view view-title="Scrum Board">
  <ion-content class="padding">
    <h2>Welcome to Scrum Poker</h2>
    
    <!-- Move all inline over to css (install sass later) -->
    <div class="row">
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
      <div class="col">.col</div>
    </div>
    <a ng-href="#" style="text-decoration: none;">
      <div class="card" style="height: 175px; width: 25%; text-align: center;">
        <div class="item item-text-wrap">
          <h1>0</h1>
        </div>
      </div>
    </a>

  </ion-content>
</ion-view>
