<ion-view view-title="Scrum Board">
  <ion-content class="padding" style="background-color: #000">
    <h2 style="color: #fff;">Welcome to Scrum Poker</h2>
    
    <ion-list>
      <a ng-repeat="card in cards" type="item-text-wrap" ng-href="#/tab/cards/{{card.id}}" style="text-decoration: none;">
        <div class="card dash-card" style="border: 5px solid #fff; width: 20%; height: 100px; float: left; margin-left: 2%; margin-right: 2%; text-align: center; background-color: #2d98c4; border-radius: 10px;">
          <div class="item item-text-wrap" style="padding: 0px; background-color: #2d98c4; border-radius: 10px;">
            <h2 style="font-size: 28px; color: #fff; margin-top: 35%;">{{card.name}}</h2>
          </div>
        </div>
      </a>
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="card in cards" type="item-text-wrap" href="#/tab/cards/{{card.id}}">
        <h2>{{card.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>-->
    </ion-list>

  </ion-content>
</ion-view>
